/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 2, 2021, 11:06:37 PM
    Author     : Emīls Džarcāns
*/
body {
    background-image: url("https://img1.spoki.lv/upload2/articles/63/630074/images/Apgusti-pikosanas-5.jpg");
}
body {
    color: aqua;
}